body{
    background-color: white;
    margin: 0px;
}
div{
    white-space: pre-wrap;
    word-break: break-word;
}
h1{
    text-align: center;
    color: gray;
}
h3{
    text-align: center;
    font-style: italic;
    font: palatino, georgia, serif;
    color: gray;
}
.App {
  font-family: Monospace;
}
.header{
    padding: 0px;
    margin: 0px;
    background-color:#A5DEE4;
    padding-left: 10px;
}
    .inputName{
        font-weight: bold;
        display: inline-block;
        font-size: 20px;
    }
    .editable{
        color: black;
    }
    .readonly{
        color: black;
        background-color: #A5DEE4;
        border: 0px;

    }
    .changeName{
        text-decoration: underline;
        cursor: pointer;
        display: inline-block;
    }
.footer{
    margin-top: 10px;
    height: 30vh;
    background-color: #A5DEE4; 
}
.button-area-router{
    margin-left: 10%;
}
.button-area{
    text-align: center;
    margin: auto;
}
    .greenButton{
        margin: 2px;
        font-size: 20px;
        background-color: #3AAFB7;
        color: white;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        transition: all ease 0.3s;
    }
    .greenButton:active{
        font-size: large;
        background-color: #3A7FB7;
        color: white;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }
    .redButton{
        margin: 2px;
        font-size: large;
        background-color: red;
        color: white;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        transition: all ease 0.3s;
    }
    .redButton:active{
        font-size: large;
        background-color: pink;
        color: white;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }
    .blueButton{
        margin: 2px;
        font-size: large;
        background-color: #3A7FB7;
        color: white;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        transition: all ease 0.3s;
    }
    .blueButton:active{
        font-size: large;
        background-color: lightblue;
        color: white;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }
    
.wordList{
    width: 100%;
}
    .word-block-container {
        vertical-align: middle; 
        background-color: white;
        box-shadow: 0px 0px 3px;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
        height: auto;
        padding: 0px;
    }
    .word-block{
        vertical-align: middle; 
        background-color: white;
        box-shadow: 0px 0px 3px;
        width: 100%;
        height: auto;
        padding: 0px;
        padding-bottom: 1px;
        animation: fadein 1.5s forwards;
    }
    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
        .word-title{
            text-align: left;
            padding-left: 2%;
            -webkit-flex: none;
            flex: none;
            vertical-align: top;
            width: 98%;
            font-size: 25px;
            background-color: #8F77B5;
        }
        .word-difficulty{
            padding-left: 2%;
            position: relative;
            color: brown;
            font-size: 20px;
        }
        .word-meaning{
            padding-left: 2%;
            position: relative;
            -webkit-flex: 4;
                flex: 4;
            width: 80%;
            font-size: 20px;
            min-height: 20px;
            padding-bottom: 50px;
        }
        .word-meaning-fight{
            padding-left: 2%;
            position: relative;
            -webkit-flex: 4;
                flex: 4;
            width: 80%;
            font-size: 20px;
            min-height: 20px;
            padding-bottom: 50px;
            cursor: pointer;
            box-shadow: 0px 0px 1px;
            margin: 1%;
        }
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
